.logo-header[data-background-color] .btn-toggle, .logo-header[data-background-color] .more {
    color: #85858b !important;
}

    .report-container {
        background: #f8f9fa;
        border: 1px solid #dee2e6;
        border-radius: 8px;
        padding: 20px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin-top: 20px;
    }

    .report-label {
        font-size: 1.2rem;
        font-weight: 600;
        color: #343a40;
    }

    .form-control {
        border-radius: 4px;
    }

    .btn-submit {
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 4px;
        padding: 8px 16px;
        cursor: pointer;
    }

    .btn-submit:hover {
        background-color: #0056b3;
    }

    .styled-table {
        margin-top: 20px;
        border-collapse: collapse;
        width: 100%;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .styled-table th,
    .styled-table td {
        padding: 12px 15px;
        border: 1px solid #dee2e6;
    }

    .styled-table thead th {
        background-color: #007bff;
        color: #ffffff;
        text-align: left;
    }

    .styled-table tbody tr:nth-child(even) {
        background-color: #f2f2f2;
    }
    .line-chart-container {
    padding: 20px;
    border: 1px solid #d6d6d6;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 100%;
}
.pie-chart-container {
    padding: 20px;
    border: 1px solid #d6d6d6;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
    .styled-table tbody tr:hover {
        background-color: #e9ecef;
    }

    .spinner {
        width: 40px;
        height: 40px;
        border: 4px solid #f3f3f3;
        /* Light gray */
        border-top: 4px solid #3498db;
        /* Blue */
        border-radius: 50%;
        animation: spin 1s linear infinite;
        margin: auto;
        /* Center the spinner */
    }
    .dashboard_card {
    height: 100%;
}
.dashboard_card .card-statistic-3 {
    height: 100%;
}
.dashboard_card a {
    height: 100%;
    display: inline-block;
}
.dashboard_card .card-statistic-3 .card-title {
    font-size: 18px;
    font-weight: 600;
    color: #fff;
}
.dashboard_card .card-statistic-3 span {
    font-size: 28px;
    font-weight: 600;
}
    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }





